.container{
  width: 850px;
  margin:0 auto;
}
html {
  background-color: #777777;
}
.col{
  width: 50%;
  float:left;
}
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
