.input-name {
  width:310px;
  height:52px;
  padding: 0 20px;
  border-left-color: #f3a1a1;
  border-left-width: 6px;
  border-style: solid;
  -webkit-box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.2);
  box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.2);
}
.col  > form > div:first-child {
  margin-bottom: 10px;
}
.container >  div:first-child{
  margin-top: 100px;
}
